$cyan: #43ca9d;
$cyan-2: #6bf7c6;
$cyan-3: #9eddc8;
$cyan-4: #b6e7d7;
$brown: #360505ab;
$light-brown: #8f6a67c4;
$salmon: #e99191;
$dark-salmon: rgba(173, 98, 95, 0.788);
$white : #fff4f4;
$black : #202020;
$black-2: #202020c2;
$gray: #585858c2;

$light-text: $white;
$dark-text: $black;
$dark-text-2: $black-2;
$subheading-dark: $gray;
$subheading-light: #ece3e3da;
$sidebar-hover: $cyan-3;
$completed-1: $cyan;
$completed-2: $cyan-3;
$completed-hover-1: $cyan-2;
$completed-hover-2: $cyan-4;
$text-shadow: #7c7c7c1f;
$box-shadow: #5a5a5a31;
$box-shadow-2: #3333338a;
$btn-primary: #5b9984;
$border-radius: 8px;

.full-screen {
    width: 100vh;
    height: 100vh;
}


@mixin sub-heading($alignment, $font-color){
    font-size: 1rem;
    color: $font-color;
    text-align: $alignment;
}

@mixin transparent-bg ($widthSize) {
    padding: 1.5rem 2rem;
    background-color: #ffe9e941;
    width: $widthSize;
    border-radius: $border-radius;
    text-align: center;
    box-shadow: 3px 3px 8px #69696931;
    letter-spacing: 0.15rem;
    text-shadow: 0 3px 3px #7c7c7c1f;
}

@mixin inverted-border-radius ($color){
    &::before{
        content: "";
        position: absolute;
        background-color: transparent;
        bottom:0;
        left: -25px;
        height: 50px;
        width: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 10px 20px 0 $color; /* This is where the magic happens! */
        z-index: -2;
    }
    
}



