@import "../assets/scss/variables";

.add-task {
    margin: 1.5rem 0;

    // form {
    //     margin: 0;
        padding: 0.25rem;
        width: 100%;

        input, select {
            background: $white;
            border: 2px solid rgba(255, 255, 255, 0);
            border-radius: $border-radius;
            box-shadow: 0 5px 10px $box-shadow;
            justify-content: space-around;
            height: 3rem;
            transition: 0.3s all ease-in;

            &.task-time {
                font-size: 1rem;
                margin-right: 0.75rem;
                padding: 0.25rem;
                width: 20%;
            }

            &.task-name {
                width:70%; 
                margin-right: 1rem;  
                padding: 0.25rem 0.5rem; 
            }

            &:hover, &:focus, &:active, &:focus-visible {
                border: 2px solid rgba(194, 194, 194, 0.521);
                box-shadow: 0 5px 10px $box-shadow-2;
                outline: none;
                transition: 0.3s all ease-in;
            }

            .md-text {
                font-size: 3rem;
                font-weight: 800;
            }
        }
    // }
}