@import "../assets/scss/variables";

.sidebar {
   max-width: 10%;
   background: rgba(51, 50, 50, 0.527);
   height: 100vh;
}

.navbar-brand {
    .navbar-logo {
        height: 7.5rem;
        width: 7.5rem;
        filter: invert(1);
    }
}


.nav-link {
    margin-top: 1.5rem;

    i {
        margin-right: 0.75rem;
    }

}