@import "../assets/scss/variables";

.sidebar {
   width: 6.5%;
   height: 100vh;
   background: rgba(39, 39, 39, 0.527);
   text-align: center;

    .navbar-brand {
        margin: 2rem auto;
        .navbar-logo {
            height: 2.25rem;
            width: 5rem;
            filter: invert(1);
        }
    }

    .navbar .container .navbar-nav .nav-link {
        margin-top: 1.5rem;
        color: $light-text;

        i {
            margin-bottom: 0.5rem;
        }

        &:hover, &:active, &:focus {
            color: $sidebar-hover !important;
            transition: all 0.4s ease-in-out;
        }

        &:visited {
            color: $light-text;
        }

    }
}