@import "../assets/scss/variables";

.task-item {
    background: $white;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: $border-radius;
    box-shadow: 0 5px 10px $box-shadow;
    height: 4rem;
    width: 100%;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    color: $dark-text;
    transition: 0.3s all ease-in;
    font-size: 1.25rem;

    .task-time {
        font-weight: 800;
        color: $dark-salmon;
        margin-right: 0.25rem;
        padding-right: 1rem ;
        border-right: 1px solid #9b9b9b7e;
    }
    
    .am-pm {
        font-size: 1rem;
        font-weight: 500;
        // margin:0;
        margin-left: 0.25rem;
        padding: 0;
    }

    .task-name {
        margin-left: 1rem;
        overflow: auto;
        font-size: 1.15rem;
    }

    .wrapper {
        padding-left: 1rem;
        border-left: 1px solid #9b9b9b7e;
        color: $btn-primary;
        gap: 0.5rem;

        .checkbox{
            border: 2px solid $btn-primary;
            border-radius: 5px;
            height: 23px;
            width: 23px;
            font-size: 14px;
            text-align: center;

            &:hover {
                cursor:pointer;
            }
        }
        .delete {
            font-size: 20px;

            &:hover{
                cursor:pointer;
            }
        }
    }    
}